<div class="container oswald-fontText2 p-5">
	<p class="text-center oswald-fontText">¿Te has cansado de las mismas series de siempre? </p>
	<p class="text-center oswald-fontText"> ¿Buscas algo que te haga reír, llorar y reflexionar a la vez?</p>
	<p class="text-center oswald-fontText">¡Entonces necesitas conocer Rick y Morty!</p>
	<p class="text-center oswald-fontText">¿De qué trata Rick y Morty?</p>

	<p>
		Esta serie animada para adultos sigue las desventuras de Rick Sanchez, un científico excéntrico y cínico, y su nieto Morty Smith, un adolescente tímido e inseguro. Juntos, viajan a través del multiverso en su nave espacial, explorando dimensiones infinitas, enfrentando criaturas alienígenas y viviendo situaciones tan locas como hilarantes.
	</p>
	<p class="text-center oswald-fontText">
		¿Por qué te encantará Rick y Morty?
	</p>
	<p>
		* Humor inteligente y ácido: Rick y Morty está llena de chistes ingeniosos, referencias a la cultura pop y sátira mordaz que te hará reír a carcajadas.
		* Personajes entrañables: A pesar de sus excentricidades, Rick y Morty son personajes con los que te sentirás identificado. Rick es un abuelo gruñón pero a veces cariñoso, mientras que Morty representa la inocencia y la confusión ante un mundo absurdo.
		* Historias que te harán pensar: Detrás del humor y la acción, Rick y Morty esconde reflexiones profundas sobre la existencia, la moral y la naturaleza de la realidad.
		* Un universo en constante expansión: Cada episodio te lleva a una nueva dimensión, llena de criaturas extrañas, civilizaciones bizarras y peligros inesperados.
	</p>

	<p class="text-center oswald-fontText">¿A quién va dirigida Rick y Morty?</p>
	<p>
	Rick y Morty es una serie para adultos que no se toma en serio a sí misma. Si tienes sentido del humor, disfrutas de la ciencia ficción y no te importa que te desafíen tus ideas, esta serie es para ti.</p>

	<p class="text-center oswald-fontText">¿Dónde puedes ver Rick y Morty?</p>

	<p>En Argentina, puedes ver Rick y Morty en las siguientes plataformas:<p>
		<ul>
			<li>Netflix: Las primeras cinco temporadas están disponibles en Netflix.</li>
			<li>HBO Max: Todas las temporadas están disponibles en HBO Max.</li>
			<li>Cartoon Network: Algunos episodios se emiten por televisión en Cartoon Network.</li>
		</ul>
	<p class="text-center oswald-fontText">¡No te pierdas Rick y Morty!</p>
	<p>
		Si buscas una serie original, divertida y que te haga pensar, Rick y Morty es la opción perfecta. Prepárate para un viaje intergaláctico lleno de risas, emociones y reflexiones que te dejarán con ganas de más.<p>
	<p>Recuerda:</p>
	<ul>
		<li>Rick y Morty no es apta para todo público. Contiene lenguaje fuerte, violencia y temas que pueden no ser apropiados para niños.</li>
		<li>Si te enganchas con la serie, prepárate para una larga espera entre temporadas. La producción de nuevos episodios suele ser lenta.</li>
		<li>¡Pero no te preocupes! El universo de Rick y Morty es tan vasto que siempre hay algo nuevo que descubrir mientras esperas la siguiente temporada.</li>
	</ul>

	<p class="text-center oswald-fontText">¡Únete a la comunidad de fans de Rick y Morty!</p>
	<p>
		Comparte tus teorías, memes y opiniones sobre la serie con otros fanáticos en las redes sociales y foros online.<br/>
		¡Rick y Morty es una comunidad vibrante y apasionada que te espera!<br/>
	</p>

</div>